/* Все одним файлом, думаю так удобнее проверять) */

@font-face {
  src: url(./vendor/Muli-Regular.ttf);
  font-family: 'Muli';
  font-weight: normal;
}

@font-face {
  src: url(./vendor/Muli-SemiBold.ttf);
  font-family: 'Muli';
  font-weight: 600;
}

@font-face {
  src: url(./vendor/Muli-Bold.ttf);
  font-family: 'Muli';
  font-weight: bold;
}

@font-face {
  src: url(./vendor/Muli-ExtraBold.ttf);
  font-family: 'Muli';
  font-weight: 800;
}

@font-face {
  src: url(./vendor/Muli-Black.ttf);
  font-family: 'Muli';
  font-weight: 900;
}

.font {
  font-family: 'Muli', sans-serif;
}

.font_size_12-6 {
  font-size: 12.6px;
}

.font_size_14-4 {
  font-size: 14.4px;
}

.font_size_16 {
  font-size: 16px;
}

.font_size_19-6 {
  font-size: 19.6px;
}

.font_size_24 {
  font-size: 24px;
}

.font_size_32 {
  font-size: 32px;
}

.font_size_48 {
  font-size: 48px;
}

.font_size_64 {
  font-size: 64px;
}

.font_lh_s {
  line-height: 100%;
}

.font_lh_m {
  line-height: 140%;
}

.font_lh_l {
  line-height: 150%;
}

.font_w_bold {
  font-weight: bold;
}

.font_w_600 {
  font-weight: 600;
}

.font_w_800 {
  font-weight: 800;
}

.font_w_900 {
  font-weight: 900;
}

.font_theme_accent {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
}

.body {
  margin: 0;
}

.root {
  min-width: 1440px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #FCFCFD;
}

.header {
  background-image: url(./images/header-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}

.header__top {
  width: 60%;
  margin-right: 28em;
  margin-left: 15em;
  margin-bottom: 80px;
}

.header__menu {
  min-height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 32px;
}

.header__logo {
  margin-top: 0;
  margin-bottom: 5px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav__item {
  margin-right: 53px;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.header__hire {
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.header__hire::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  border-radius: 32px;
  width: 64px;
  height: 4px;
  content: '';
}

.header__titles {
  margin-left: 5em;
  margin-right: 5em;
}

.header__title {
  margin-top: 0;
  margin-bottom: 22px;
}

.header__subtitle {
  margin-top: 0;
  margin-bottom: 42px;
}

.header__button {
  background: #FFFFFF;
  border-radius: 64px;
  padding: 16px 65px;
  border: 0;
  letter-spacing: 1px;
  color: #253757;
  cursor: pointer;
}

.header__slider {
  position: relative;
  margin: 0 auto 165px;
  width: 72em;
}

.header__image {
  display: block;
  margin: 0 auto;
}

.header__arrows {
  background-image: url(./images/header-arrows.svg);
  width: 162px;
  height: 64px;
  position: absolute;
  top: 45%;
  left: -7%;
  border-radius: 50px;
  border: 0;
}

.header__social {
  list-style: none;
  padding-left: 0;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  right: -25%;
  display: flex;
  margin: 0;
}

.header__social-item {
  margin-right: 85px;
}

.header__social-item:last-of-type {
  margin-right: 0;
}

.header__social-link {
  color: #253757;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__slider-title {
  position: absolute;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
  bottom: 22.5%;
  left: 9%;
  margin: 0;
}

.header__slider-text {
  position: absolute;
  bottom: 14%;
  left: 9%;
  width: 14em;
  margin: 0;
}

.root__section {
  margin: 0 auto;
}

.intro {
  width: 49%;
}

.heading {
  width: 24em;
}

.heading__title {
  display: flex;
  margin-bottom: 19px;
}

.heading__icon {
  margin-right: 16px;
}

.heading__name {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
  margin-top: 0;
  margin-bottom: 0px;
}

.heading__name_color_white {
  color: white;
}

.heading__subtitle {
  color: #253757;
  margin-top: 0;
  margin-bottom: 0;
}

.intro__text {
  color: #253757;
  margin-top: 0;
  margin-bottom: 136px;
}

.services {
  background: white;
}

.services__title {
  margin: 0 auto 136px;
  width: 35%;
  text-align: center;
  color: #253757;
  position: relative;
  top: -24px;
}

.services__list {
  width: 70%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 6em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 11em;
  padding-left: 0;
  padding-bottom: 162px;
}

.service__title {
  color: #253757;
  margin-top: 0;
  margin-bottom: 32px;
}

.service__text {
  color: #334563;
  margin-top: 0;
  margin-bottom: 0;
}

.steps {
  background-color: white;
}

.steps__main {
  background-color: #FCFCFD;
  width: 65%;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 14em;
  padding-left: 11em;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 9.5em;
}


.steps__heading {
  margin-top: 110px;
}

.steps__text {
  color: #334563;
  margin-top: 64px;
  margin-bottom: 0;
}

.steps__text:last-of-type {
  margin-top: 24px;
}

.steps__cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1em;
  position: relative;
  top: 110px;
  left: 0;
}

.steps__card:nth-child(odd) {
  position: relative;
  top: 110px;
  left: 0;
}

.features {
  background-image: url(./images/features-bg.png);
  background-repeat: no-repeat;
}

.features__heading {
  padding-top: 198px;
  margin-left: 14em;
}

.features__list {
  list-style: none;
  padding-left: 0;
  margin-top: 69px;
  margin-bottom: 0;
  color: white;
  padding-bottom: 160px;
}

.features__item {
  display: flex;
  margin-bottom: 64px;
}

.features__item:last-of-type {
  margin-bottom: 0;
}

.features__item-icon {
  margin-right: 32px;
}

.features__item-text {
  margin-top: 0;
  margin-bottom: 0;
}

.clients {
  position: relative;
  background-color: white;
}

.clients__heading {
  margin-left: 14em;
  margin-bottom: -114px;
  padding-top: 165px;
}

.clients__bg-blob {
  background-image: url(./images/Blob.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 497px;
  height: 1700px;
  background-size: contain;
  top: -136%;
  right: 0;
  overflow: hidden;
}

.clients__cards {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: -200px;
  z-index: 1;
}


.CTA__desc {
  background-image: url(./images/CTA-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 160px;
  padding-bottom: 256px;
  width: 90%;
  margin: 200px auto 0;
  text-align: center;
}

.CTA__title {
  color: #253757;
  margin-top: 0;
  margin-bottom: 57px;
}

.CTA__text {
  color: #334563;
  width: 55%;
  margin: 0 auto 55px;
}

.button {
  background: #2F80ED;
  border-radius: 64px;
  letter-spacing: 1px;
  color: #FFFFFF;
  border: 0;
}

.CTA__button {
  padding: 16px 88px;
}

.footer {
  width: 71.5%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 6em;
}

.footer__heading {
  margin-bottom: 86px;
}

.connect-form {
  width: 41em;
}

.connect-form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.connect-form__field {
  color: #152032;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #E1E1E1;
  background-color: #FCFCFD;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 30px;
}

.connect-form__button {
  padding: 16px 92px;
  margin-top: 105px;
  margin-bottom: 53px;
}

.footer__contact-type {
  color: #334563;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 43px;
  margin-bottom: 0;
}

.footer__contact-link {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
  text-decoration: none;
}

.social-icons {
  margin-top: 50px;
  display: flex;
}

.social-icons__link {
  margin-right: 48px;
  display: block;
}

.footer__line {
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 166px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link_color_blue {
  color: #253757;
}
